
	div.b-modal
	{
	background-color: #000000 !important;
	opacity: 0.2 !important;
	z-index: 9999998 !important;
	}
	div#festi-cart-pop-up-content
	{
	z-index: 9999999 !important;
	}
	div#festi-cart-pop-up-content div.festi-cart-pop-up-body
	{
	border:  3px solid;
	border-radius: 10px;
	border-color: #00a8ca;
	padding: 10px;
	box-shadow:
	0
	0
	0px
	0px
	#5e5e5e;
	width: 400px;
	background-color: rgba(
	255,
	255,
	255,
	1        );
	}
	div.festi-cart-pop-up-body div.festi-cart-pop-up-header
	{
	text-align: center;
	margin:
	10px
	10px
	20px
	10px;
	}
	div.festi-cart-pop-up-body div.festi-cart-pop-up-header span.festi-cart-added-to-cart-msg
	{
	color: #5b9e2b;
	font-size: 20px;
	}
	div#festi-cart-pop-up-content span.festi-cart-closed.b-close
	{
	display: block;
	float: right;
	cursor: pointer;
	position: relative;
	right: 10px;
	top: 10px;
	}
	div#festi-cart-pop-up-content span.festi-cart-closed.b-close span.festi-cart-closed-button
	{
	font-size: 30px;
	font-weight: bold;
	color: #00a8ca;
	}
	div#festi-cart-pop-up-content span.b-close span.festi-cart-closed-button:hover
	{
	color: #72ddf2;
	}
	div.festi-cart-pop-up-body div.festi-cart-pop-up-footer
	{
	text-align: center    }
	div.festi-cart-pop-up-footer span.festi-cart-continue.b-close span.festi-cart-continue-shopping
	{
	border: 0px solid;
	border-color: #e0e0e0;
	border-radius: 0px;
	background-color: #ffffff;
	color: #00a8ca;
	font-size: 20px;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	}
	div.festi-cart-pop-up-footer span.festi-cart-continue.b-close span.festi-cart-continue-shopping:hover
	{
	background-color: #ffffff;
	border-color: #e0e0e0;
	color: #72ddf2;
	}
	/*product list analog Start */
	body div.festi-cart-pop-up-products-content  table.festi-cart-list  tr.festi-cart-item  td.festi-cart-product-title a.festi-cart-title,
	body div.festi-cart-pop-up-products-content  table.festi-cart-list  tr.festi-cart-item  td.festi-cart-product-title span.festi-cart-title
	{
	color: #00497d;
	font-size: 13px;
	}
	body div.festi-cart-pop-up-products-content  table.festi-cart-list  tr.festi-cart-item  td.festi-cart-product-title a.festi-cart-title:hover
	{
	color: #8094ed;
	}
	body div.festi-cart-pop-up-products-content  table.festi-cart-list  tr.festi-cart-item  td.festi-cart-product-title span.festi-cart-product-count,
	body div.festi-cart-pop-up-products-content  table.festi-cart-list  tr.festi-cart-item  td.festi-cart-product-title span.festi-cart-product-price,
	body div.festi-cart-pop-up-products-content  table.festi-cart-list  tr.festi-cart-item  td.festi-cart-product-title span.festi-cart-product-price span.amount
	{
	color: #1f1e1e;
	font-size: 13px;
	}
	body div.festi-cart-pop-up-products-content  div.festi-cart-total
	{
	border: 0px solid;
	border-color: #e6e6e6;
	border-radius: 7px;
	background-color: #eeeeee;
	color: #000000;
	font-size: 13px;
	text-align: right;
	}
	body div.festi-cart-pop-up-products-content  p.festi-cart-buttons a.festi-cart-view-cart
	{
	border: 1px solid;
	border-color: #e0e0e0;
	border-radius: 7px;
	background-color: #eeeeee;
	color: #000000;
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	}
	body div.festi-cart-pop-up-products-content  p.festi-cart-buttons a.festi-cart-view-cart:hover
	{
	background-color: #6caff7;
	border-color: #e0e0e0;
	color: #ffffff;
	}
	body div.festi-cart-pop-up-products-content  p.festi-cart-buttons a.festi-cart-checkout
	{
	border: 1px solid;
	border-color: #e0e0e0;
	border-radius: 7px;
	background-color: #eeeeee;
	color: #000000;
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	}
	body div.festi-cart-pop-up-products-content  p.festi-cart-buttons a.festi-cart-checkout:hover
	{
	background-color: #6caff7;
	border-color: #e0e0e0;
	color: #ffffff;
	}
	body div.festi-cart-pop-up-products-content  table.festi-cart-list  tr.festi-cart-item  td.festi-cart-product-delete
	{
	vertical-align: top;
	}
	body div.festi-cart-pop-up-products-content  table.festi-cart-list  tr.festi-cart-item  td.festi-cart-product-delete a.festi-cart-remove-product
	{
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	float: left;
	}
	body div.festi-cart-pop-up-products-content  table.festi-cart-list  tr.festi-cart-item  td.festi-cart-product-delete a.festi-cart-remove-product:hover
	{
	color: #807878;
	}
	body div.festi-cart-pop-up-products-content  table.festi-cart-list tr,
	body div.festi-cart-pop-up-products-content  table.festi-cart-list tr td
	{
	border-bottom: 1px solid;
	border-bottom-color: #e8e4e3;
	}
	div.festi-cart-pop-up-products-content  table.festi-cart-list tr.festi-cart-empty
	{
	color: #111111;
	padding: 0;
	}
	body div.festi-cart-pop-up-products-content  table.festi-cart-list tr.festi-cart-empty td.festi-cart-empty
	{
	padding-top: 5px;
	padding-bottom: 5px;
	}
	body div.festi-cart-pop-up-products-content  table.festi-cart-list  tr.festi-cart-item  td.festi-cart-product-img a.festi-cart-img img,
	body div.festi-cart-pop-up-products-content  table.festi-cart-list  tr.festi-cart-item  td.festi-cart-product-img span.festi-cart-img img
	{
	max-width: 40px;
	width: 40px;
	}
	body div.festi-cart-pop-up-products-content  table.festi-cart-list  tr.festi-cart-item  td.festi-cart-product-title span.festi-cart-product-variation-attribut
	{
	font-size: 12px;
	display: block;
	}
	/*product list analog END */

.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}


	body{background-color:white;}.site-content{background-color:#f7f7f7;}.site-logo{top:-6px;bottom:0px;left:0px;right:0px;}.site-footer{background-color:#ebebeb;background-repeat:repeat;}h1{font-family:Oswald;text-transform:uppercase;line-height:30px;letter-spacing:0.3px;font-weight:700;font-style:normal;color:#333;font-size:25px;}h2, .term-description{font-family:Oswald;text-transform:uppercase;line-height:50px;letter-spacing:0.3px;font-weight:700;font-style:normal;color:#353535;font-size:25px;}h3, .archive h1{font-family:Oswald;text-transform:uppercase;line-height:26px;letter-spacing:0px;font-weight:400;font-style:normal;color:#161616;font-size:15px;}h4{font-family:Oswald;text-transform:uppercase;line-height:30px;letter-spacing:0.2px;font-weight:400;font-style:normal;color:#333;font-size:16px;}h5, h6{font-family:Oswald;line-height:50px;letter-spacing:0px;font-weight:400;font-style:normal;color:#333;font-size:30px;}body{font-family:Questrial;line-height:30px;letter-spacing:0.4px;font-weight:400;font-style:normal;color:#333333;font-size:13px;}a{color:#000000;}a:hover{color:#ff0000;}a:active{color:#ff0000;}.main-navigation .menu a{font-family:Oswald;text-transform:uppercase;line-height:25px;letter-spacing:0.8px;font-weight:400;font-style:normal;color:white;font-size:15px;}button, input[type="button"], input[type="reset"], input[type="submit"], .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .theme-button{font-family:Oswald;text-transform:uppercase;line-height:25px;letter-spacing:0.4px;font-weight:400;font-style:normal;color:#333;font-size:13px;}


.entry-footer{display:none!important;}
	.site-content{padding-bottom:0;margin-bottom:-52px;}

.vc_custom_1450741874460{margin-top: -200px !important;}.vc_custom_1452302430567{padding-top: 50px !important;padding-bottom: 50px !important;}.vc_custom_1452555488216{margin-top: -40px !important;margin-bottom: 0px !important;padding-top: 20px !important;background-color: #ffffff !important;}.vc_custom_1456141670941{margin-bottom: 50px !important;padding-top: 60px !important;padding-bottom: 120px !important;}.vc_custom_1454374868024{padding-bottom: 70px !important;}.vc_custom_1454374372904{margin-top: -40px !important;margin-bottom: -35px !important;padding-top: 20px !important;background-color: #ffffff !important;}.vc_custom_1452302323819{padding-right: 38px !important;}.vc_custom_1452655343451{padding-top: 10px !important;padding-right: 30px !important;padding-bottom: 30px !important;padding-left: 30px !important;}.vc_custom_1454371617150{padding-top: 20px !important;padding-right: 2% !important;padding-bottom: 20px !important;padding-left: 2% !important;}.vc_custom_1455744503471{padding-right: 10% !important;
    padding-left: 10% !important;
    width: 50%;
    margin: 0 25%;}.vc_custom_1452733638485{margin-bottom: -10px !important;}.vc_custom_1452733659967{margin-bottom: -10px !important;}.vc_custom_1452733723462{margin-bottom: -10px !important;}.vc_custom_1454449825333{margin-bottom: -10px !important;}.vc_custom_1455888378217{margin-top: 50px !important;}.vc_custom_1452738126569{padding-bottom: 90px !important;}

